<!DOCTYPE html>
<html>
<body>
    <h3> Scale Prediction </h3>

<div>
  <form action="/" method="POST">
    
    <label for="Temperature">Temperature </label>
      <input type="number" id="Temperature " name="Temperature">
      <br>

    <label for="Pressure">Pressure </label>
      <input type="number" id="Pressure" name="Pressure">
      <br>
	
	  <label for="CO2 mole fraction">CO2 mole fraction</label>
      <input type="number" id="CO2 mole fraction" name="CO2 mole fraction">
      <br>
	
	  <label for="pH">pH</label>
      <input type="number" id="pH" name="pH">
      <br>
	
	  <label for="Calcium ion (ppm)">Calcium ion (ppm)</label>
      <input type="number" id="Calcium ion (ppm)" name="Calcium ion (ppm)">
      <br>
	
	  <label for="Sodium ion (ppm)">Sodium ion (ppm)</label>
      <input type="number" id="Sodium ion (ppm)" name="Sodium ion (ppm)">
      <br>
	
	  <label for="Magnesium ion (ppm)">Magnesium ion (ppm)</label>
      <input type="number" id="Magnesium ion (ppm)" name="Magnesium ion (ppm)">
      <br>

    <label for="Iron ion (ppm)">Iron ion (ppm)</label>
      <input type="number" id="Iron ion (ppm)" name="Iron ion (ppm)">
      <br>
	
	  <label for="Bicarbonate ion (ppm)">Bicarbonate ion (ppm)</label>
      <input type="number" id="Bicarbonate ion (ppm)" name="Bicarbonate ion (ppm)">
      <br>
    
	  <label for="Sulfate ion (ppm)">Sulfate ion (ppm)</label>
      <input type="number" id="Sulfate ion (ppm)" name="Sulfate ion (ppm)">
      <br>
  
    <label for="Chlorine ion (ppm)">Chlorine ion (ppm)</label>
      <input type="number" id="Chlorine ion (ppm)" name="Chlorine ion (ppm)">
      <br>
    
	  <label for="Carbonate ion (ppm)">Carbonate ion (ppm)</label>
      <input type="number" id="Carbonate ion (ppm)" name="Carbonate ion (ppm)">
      <br>
    
	  <label for="TDS (ppm)">TDS (ppm)</label>
      <input type="number" id="TDS (ppm)" name="TDS (ppm)">
     <br>
    
 
    <input type="submit" value="Submit">
  </form>
</div>

  <p>{{p}}</p>
</body>
</html>